radio-component.radio {
  .form-group {
    * {
      cursor: pointer;
    }
    label {
      width: 2ch;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 1ch;
      input {
        margin: 0;
      }
    }
  }
}
