contactus-page#contactus {
  .fluid {
    padding-block: 1rem;
    justify-content: space-evenly;
  }
  .intro {
    margin: 1rem auto;
    padding-block: 1rem;
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
  }
  .contact-method {
    --width: 45%;
    padding: 1rem;
    width: var(--width);
    height: fit-content;
    border-bottom: 2px solid var(--trans-color-medium);
    *:not(:last-of-type) {
      user-select: all;
    }
    & {
      @media (max-width: 480px) {
        --width: 75%;
      }
    }
    h3 {
      text-align: center;
      border-top: 2px solid var(--trans-color-medium);
      border-bottom: 2px solid var(--trans-color-medium);
    }
    a {
      background: var(--bg);
      color: var(--color);

      &:hover {
        scale: 1;
        box-shadow: none;
        text-decoration: underline;
      }
    }
  }
}
